
# OAuth
# Mandatory settings for writing on api or access protected user data.
# If you need readonly access you can commment oauth config.
# Use example-web/OAuthRequestAccess.php to obtain token and secret.
#
osm_ap_id=XXX
osm_app_secret=XXX
osm_access_token=XXX

#
# You can overload default configuration
#

#
# Logger
# @see Cyrille37\OSM\Yapafo\Tools\Logger
#
log_level = debug

# OAuth
#
# @see Cyrille37\OSM\Yapafo\Auth\OAuth
# PROD = https://www.openstreetmap.org
# DEV = https://master.apis.dev.openstreetmap.org
#
oauth_url = https://master.apis.dev.openstreetmap.org

# OSM API
#
# @see Cyrille37\OSM\Yapafo\OSM_Api
# URL_DEV_UK = https://master.apis.dev.openstreetmap.org/api/0.6
# URL_PROD_UK = https://api.openstreetmap.org/api/0.6
#
osm_api_url = https://master.apis.dev.openstreetmap.org/api/0.6

#osm_api_cacheFolder = ./temp/cache
#outputFolder = ./temp/queries
